{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{%block title%}Django Quiz App{%endblock%}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>

<body>
    <nav>
        <div class="nav-left">
            <a href="{% url 'index' %}">Quizzes</a>
        </div>
        

        <div class="nav-right">
           {% comment %} {% if user.is_authenticated %}
            <form method="post" action= "{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Logout</button>
            
            {% else %}
            <a href="{% url 'login' %}">Login</a>

            {% endif %} {% endcomment %}
        </div>
    </nav>    
    
    {% block content %}
    {% endblock %}

    <div class="parent-div">
        <div class="centered-div">
    {%if messages %}
    <ul class="messages">
        {%for message in messages%}
        <li {% if message.tags %} class="{{message.tags}}" {%endif%}>
            {{message}}
        </li>
        {%endfor%}

    </ul>
    {%endif%}
</div>
</div>
</body>

</html>